<div class="row">
<div class="text-center">
<h1>Search Results</h1>
</div>
</div>
<br><br>
<div class="row">
<% @recipes.each do |recipe| %>
  <div class="col-md-4" align="center">
<a href="<%= recipe_path(recipe)%>"> <img src="<%=recipe.video_url%>" height="250", width="250"><br>
<%= link_to recipe.title, recipe %><br>
<%= link_to recipe.description, recipe %><br>
<br>
</div>
<% end %>
</div>
