<div class="row">
<div class="text-center">
<h1><img src="http://previews.123rf.com/images/miceking/miceking1506/miceking150600554/40809510-Chef-word-illustration--Stock-Vector.jpg" height="150" width="150"></h1>
</div>
</div>
<br><br>
<div class="row">
<% @users.all.each do |user| %>
  <div class="col-md-4" align="center">
<a href="<%= user_path(user)%>"> <img src="<%=user.image_url%>" height="250", width="250"><br>
<%= link_to user.name, user_path(user) %><br>
<%= rating_for user, "skills" %>
<br>
</div>
<% end %>
</div>
