<div class="row">
<div class="text-center">
<h1>All Users</h1>
</div>
</div>
<br><br>
<div class="row">
<% @users.all.each do |user| %>
  <div class="col-md-4" align="center">
<a href="<%= user_path(user)%>"> <img src="<%=user.image_url%>" height="250", width="250"><br>
<%= link_to user.name, user_path(user) %><br>
<br>
</div>
<% end %>
</div>
